
body {
	background: #52606b; 
}

.title-gold {
	color: #f2b632;
}

.title-grey {
	color: #eee;
}

#landing-title {
	margin: 50px 0 80px;
}

h1 {
	font-size: 3em;
}

h2 {
	color: #eee;
}

#error {
	margin-top: 24px;
	text-align: left;
}

#error-box {
	border: 3px solid #f2b632 !important;
}

h3 {
	color: #c3c3c3;
}

input:focus {
	outline: none;
}

.fa-spinner {
	color: #c3c3c3;
}

.zip-spinner {
	width: 50px;
	height: 12px;
	margin-left: 8px;
}

a,
a:visited {
	text-decoration: none;
}

a:focus,
h1:focus {
	outline: none;
}
