html {
	height: 100%;
}

body {
	background: #677077; 
	margin: 0;
	height: 100%;
}

#root {
	height: 100%
}

.title-gold {
	color: #f2b632;
}

.title-grey {
	color: #eee;
}

.day-bg {
	background: #677077 !important;
}

.night-bg {
	background: #252839 !important;
}

#landing-title {
	margin: 50px 0 80px;
}

h1 {
	font-size: 3em;
}

h2 {
	color: #eee;
}

#error {
	margin-top: 24px;
	text-align: left;
}

#error-box {
	border: 3px solid #f2b632 !important;
}

h3 {
	color: #c3c3c3;
}

input:focus {
	outline: none;
}
